
// @use '../core/variables' as vars;

// .page__footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100vw;
//     padding: 1rem;
//     color: vars.$color-secondary;
// }


footer {
    background-color: black;
    color: grey;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
    height: 100px;
    box-sizing: border-box;
    font-size: 0.8em;
}


footer nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}


.esquina {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: flex-end;
}


.Espana {
    display: flex;
    align-items: center; 
    margin-bottom: 2px;
}

.Espana img {
    margin-left: 5px;
    width: 30px;
    height: 20px;
}

.item {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    }