.page__header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 7em;
  background-color: black;
  color:white;
  padding: 10px 20px;
  height: 70px;
  }
   .spotify {
   width: 10px;

   }

    
    nav{
    display: flex;
    justify-content: space-around;
  }
ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin:  11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.icono {
padding: 15px;

}

.help {
 padding: 15px;

}

.download {
padding: 15px;
}

.symbol {
padding: 15px;

}

.sign {
padding: 15px;

}

.log {
padding: 15px;
}


