<footer class="page__footer">

  <section>
         <h1>¿Por qué pasarte a Premium?</h2>

            <div class="por-que">
                <div class="descarga">
                    <img class="imagen" src="img/benefit-1.png" alt="">
                    <p class="title">Descarga música.</p>
                    <p class="sub">Llévala siempre contigo.</p>
                </div>

                <div class="sin-anuncios">
                    <img class="imagen" src="img/benefit-2.png" alt="">
                    <p class="title">Sin anuncios.</p>
                    <p class="sub">Disfruta de música sin interrupciones.</p>
                </div>
            
                <div class="escucha">
                    <img class="imagen" src="img/benefit-3.png" alt="">
                    <p class="title">Escucha lo que quieras.</p>
                    <p class="sub">Incluso en el móvil.</p>
                </div>

                <div class="salta">
                    <img class="imagen" src="img/benefit-4.png" alt="">
                    <p class="title">Salta todas las canciones que quieras.</p>
                    <p class="sub">Simplemente dale a siguiente.</p>
                </div>
            </div>
            
        </section>
        
  <small>
    &copy; Todos los derechos reservados
    <load
      src="/partials/link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    />
  </small>
</footer>
