<footer class="page__footer">

  <nav>
            <ul>
                <li>Legal</li>
                <li>Cookies</li>
                <li>Información sobre los anuncios</li>
           </ul>
        </nav>



    <div class="esquina">

        <div class="Espana">
            <p>España</p>
            <img src="img/es.svg" alt="Bandera de España.">
        </div>
        
        <div class="item">© 2019 Spotify AB</div>
    
    </div>

  <small>
    &copy; Todos los derechos reservados
    <load
      src="/partials/link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    />
  </small>
</footer>
