  <header class="page__header">
    <img class="imagen" src="/public/images/logo.png" alt="Spotify">
    <nvbar class="nav">
  
      <ul class="nav-or">

                <li><a href="#premium">Premium</a></li>
                <li><a href="#ayuda">Ayuda</a></li>
                <li><a href="#descargar">Descargar</a></li>
                <li><a href="#registrarse">Registrarse</a></li>
                <li><a href="iniciar-sesion">Iniciar Sesion</a></li>
        </ul>
        </nvbar>
  
    </header>