<header class="page__header">

    <div class="spotify">
        <img src="/public/images/logo (2).png" alt="header logo"/> 
    </div>
        <nav class="nav">
            <ul>
                <div class="icono">
                <li><a href="#premium">Premium</a></li>
                 </div>
                 <div class="help">
                <li><a href="#ayuda">Ayuda</a></li>
                </div>
                <div class="download">
                <li><a href="#descargar">Descargar</a></li>
                </div>
                <div class="symbol">
                <li><a href="#simbolo">|</a></li>
                </div>
                <div class="sign">
                <li><a href="#registrarse">Registrarse</a></li>
                </div>
                <div class="log">
                <li><a href="iniciar-sesion">Iniciar sesion</a></li>
                </div>
            
            </ul>
        </nav>
    
      </header>