<header class="page__header">
    
        <img class="spotify" src="https://raw.githubusercontent.com/Nidia23/spotify-v2/refs/heads/master/public/imagen/logo.png" alt="logo"> 
        <navbar class="nav">
            <ul>
                <div class="icono">
                <li><a href="#premium">Premium</a></li>
                 </div>
                 <div class="help">
                <li><a href="#ayuda">Ayuda</a></li>
                </div>
                <div class="download">
                <li><a href="#descargar">Descargar</a></li>
                </div>
                <div class="symbol">
                <li><a href="#simbolo">|</a></li>
                </div>
                <div class="sign">
                <li><a href="#registrarse">Registrarse</a></li>
                </div>
                <div class="log">
                <li><a href="iniciar-sesion">Iniciar sesion</a></li>
                </div>
            </ul>
        </nav>
    </img>
      </header>