  <main>
      <div>
        <h1>Prueba Premium gratis 3 meses</h1>
        <h3>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h3>
        <button>VER PLANES</button>
        <h6>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya han probado Premium.</h6>
      </div>
      <div>
         <h2>¿Por qué pasarte a Premium?</h2>
         <ul>
        <li>Descarga música.</li>
        <li>Llevala siempre contigo.</li>
        <li>Sin anuncios.</li>
        <li>Disfruta de música sin interrupciones.</li>
        <li>Escucha lo que quieras.</li>
        <li>Ahora incluso en el móvil.</li>
        <li>Salta todas las canciones que quieras.</li>
        <li>Simplemente dale a siguiente.</li>
        </ul>
      </div>
    </main>

    esto es nuevo 